
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Architects Daughter', cursive;
    background:whitesmoke;
    color: rgb(37, 37, 37);
}

/* TEXT */
h1{
    text-align: center;
    margin-top: 1.1rem;
    margin-bottom: 0.9rem;
    letter-spacing: 0.2rem;
    font-size: 3rem;
}



/* HELPER CLASS */
.loading{
    background: linear-gradient(-60deg, #f0f0f09f, #94939394, #9696968c, #8f8f8f79);
	background-size: 400% 400%;
    animation: loading-gradient 3s ease infinite;
}






/* MAIN STYLES */

.image-container{
    width:100%;
    max-width: 1600px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
}



.item-container{
    opacity: 0.9;
    height:30vh;
    margin: 20px;
    border-radius: 8px;
    transition: opacity 0.2s ease-in-out;
}
.item-container::after{
    
}
.item-container:hover{
    opacity: 1;
}




/* MISC */
.error{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    text-align: center;
    width:300px;
    border-radius: 42px;
    background: rgb(255, 255, 255);
    box-shadow:
    0 8.6px 4.5px -44px rgba(0, 0, 0, 0.046),
    0 16.6px 13.2px -44px rgba(0, 0, 0, 0.061),
    0 24.6px 30.7px -44px rgba(0, 0, 0, 0.072),
    0 34.2px 65.4px -44px rgba(0, 0, 0, 0.082),
    0 50.1px 103.8px -44px rgba(0, 0, 0, 0.096),
    0 100px 130px -44px rgba(0, 0, 0, 0.13)
}

/* ANIMATION */
@keyframes loading-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* MEDIA QUERIES */
@media (max-width:800px){
    h1{
        font-size: 1.8rem;
    }
}
